.walper{
    margin: 0 ;
    width: 100%;
    min-height: 100vh;
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
}

.contsiner{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 3px solid white;
    border-radius: 15px;
    width: 230px;
    height: 360px;
    background-color: hsl(0, 0%, 100%);
}
.image{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 215px;
    height: 200px;
    border-radius: 8px;
    margin-top: 10px;
}

.text{
    text-align: center;
      font-weight: 200;
    font-size: 13px;
}


.paragraph{
    color: hsl(220, 9%, 55%);
    font-size: 11px;
    font-weight: bold;
}